Flask[async]==3.0.3  # Changed to include async extra
gunicorn==22.0.0
sentence-transformers==2.7.0
faiss-cpu==1.8.0
langchain-community==0.0.38
langchain==0.1.19
pydantic==2.7.1
accelerate==0.29.3
numpy
torch
huggingface_hub>=0.23.2,<1.0
requests==2.32.3
